<div id="contact" class="container-fluid text-start bg-dark p-3">
  <div class="row align-items-top">
    <div class="col md-8">
      <div class="container bg-light">Still more questions.</div>
    </div>
    <div class="col md-4">
      <div class="container text-start bg-light p-3">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputFirstname" class="form-label">First name</label>
            <input
              type="text"
              class="form-control"
              id="inputFirstname"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Last name</label>
            <input
              type="text"
              class="form-control"
              id="inputLastname"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="Email"
              aria-label="Email"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPhone" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="inputPhone"
              placeholder="Phone"
              aria-label="Phone"
            />
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
