 
 
 <link rel="stylesheet" href="{{ asset('css/footer.css')}}">

 <footer>
    <img src="{{asset('pictures/footer-bg.png')}}" class="footer-bg" >
    <div class="container" >
        
      <div class="row">
        <div class="col-lg-12 ">
          <p>© Copyright 2022 <span style="color:#ff3f83 ;"><b>EMACA</b></span> Team All Rights Reserved. 
        </div>
      </div>
    </div>
  </footer>
